body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

.form-box h1 {
    margin-bottom: 20px;
}

.form-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #a877d3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #7a0e8b;
}
