body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.logo span {
    transition: 0.5s;
    display: inline-block;
}

.logo:hover span:nth-child(1) {
    margin-right: 5px;
}
.logo:hover span:nth-child(2) {
    margin-left: 1px;
}

.logo:hover span:nth-child(3) {
    margin-left: 5px;
}

.logo:hover span:nth-child(4) {
    margin-left: 5px;
}

.logo:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
}


.navbar {
    background-color: #718dcb;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    position: fixed;  
    top: 0;
    width: 98%;
    z-index: 1000;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    display: inline;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

.navbar .nav-links a:hover {
    background-color: #575757;
}

.container {
    padding: 80px 20px 20px; 
    text-align: center;
}

.form-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
    margin: 100px auto;
}

.form-box h1 {
    margin-bottom: 20px;
}

.form-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #a877d3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #7a0e8b;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px;
    text-align: left;
}

.dropdown-box {
    margin-left: 16px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.dropdown-box label {
    margin-bottom: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.dropdown-box select {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #a877d3;
}
