<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudyBae！</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
    <div class="logo">
        <span>Study</span><span>B</span><span>a</span><span>e</span>
    </div>
    <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if username %}
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        {% endif %}
    </ul>
    <div class="search-bar-group"></div>
    <span class="search-label">Search for your studybae :</span>
    <form class="faculty-search" method="get" action="{{ url_for('search_users') }}">
        <select name="faculty">
            <option value="">Select Faculty</option>
                <option value="Faculty Of Applied Communication (FAC)">FAC</option>
                <option value="Faculty Of Artificial Intelligence And Engineering (FAIE)">FAIE</option>
                <option value="Faculty Of Business (FOB)">FOB</option>
                <option value="Faculty Of Cinematic Arts (FCA)">FCA</option>
                <option value="Faculty Of Computing And Informatics (FCI)">FCI</option>
                <option value="Faculty Of Creative Multimedia (FCM)">FCM</option>
                <option value="Faculty Of Engineering And Technology (FET)">FET</option>
                <option value="Faculty Of Information Science And Technology (FIST)">FIST</option>
                <option value="Faculty Of Law (FOL)">FOL</option>
                <option value="Faculty Of Management (FOM)">FOM</option>
            </select>
        <button type="submit">Search</button>
    </form>
</nav>

    <!-- main content -->
    <div class="container">
        {% if username %}
            <h1>Welcome back, {{ username }}!</h1>
        {% else %}
            <h1>Welcome to StudyBae！</h1>
            <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('signup') }}">sign up</a>.</p>
        {% endif %}
    </div>


</body>
</html> 
