<!DOCTYPE html>
<html>
<head>
    <title>StudyBae!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <link rel="icon" href="static/img/catss.gif" type="image/gif">
</head>
<body>
    <nav class="navbar">
    <div class="logo">
        <span>Study</span><span>B</span><span>a</span><span>e</span>
    </div>
<div>
    <ul class="nav-links">
        <li><a href="{{ url_for('study_space') }}">Back</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</div>
</nav>
    {% if users %}
        <div class="profile-card-container">
          {% for user in users %}
            <div class="profile-card">
              <img src="{{ url_for('static', filename=user.avatar or 'img/default_avatar.jpg') }}" alt="Avatar" class="search-avatar">
              <h3>{{ user.username }}</h3>
              <p class="faculty">{{ user.faculty }}</p>
              <p class="bio">{{ user.bio or '' }}</p>
              <a href="{{ url_for('display_profile', user_id=user.id) }}" class="view-profile-btn">View Profile</a>
            </div>
          {% else %}
            <p>No users found.</p>
          {% endfor %}
        </div>
    {% else %}
        <p class="no-results">No users found for your search.</p>
    {% endif %}
</div>
</body>
</html>