<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <link rel="icon" href="static/img/catss.gif" type="image/gif">

</head>
<body class="interface">
    <div class="form-box">
        <h1>Sign Up</h1>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="student_id" maxlength="10" placeholder="Student ID" required>
            <input type="email" name="user_email" placeholder="Personal Email" required>
            <input type="password" name="password" placeholder="Password" required>
            
            <select name="faculty" required>
                <option value="">Select Faculty</option>
                <option value="Faculty Of Applied Communication (FAC)">Faculty Of Applied Communication (FAC)</option>
                <option value="Faculty Of Artificial Intelligence And Engineering (FAIE)">Faculty Of Artificial Intelligence And Engineering (FAIE)</option>
                <option value="Faculty Of Business (FOB)">Faculty Of Business (FOB)</option>
                <option value="Faculty Of Cinematic Arts (FCA)">Faculty Of Cinematic Arts (FCA)</option>
                <option value="Faculty Of Computing And Informatics (FCI)">Faculty Of Computing And Informatics (FCI)</option>
                <option value="Faculty Of Creative Multimedia (FCM)">Faculty Of Creative Multimedia (FCM)</option>
                <option value="Faculty Of Engineering And Technology (FET)">Faculty Of Engineering And Technology (FET)</option>
                <option value="Faculty Of Information Science And Technology (FIST)">Faculty Of Information Science And Technology (FIST)</option>
                <option value="Faculty Of Law (FOL)">Faculty Of Law (FOL)</option>
                <option value="Faculty Of Management (FOM)">Faculty Of Management (FOM)</option>
            </select>

            <button type="submit" class="btn">Sign Up</button>
        </form>
        
        <p>Already have an account? <a href="{{ url_for('login') }}" class="link-color">Login</a></p>
        <a href="{{ url_for('home') }}" class="back_btn">Back</a>
        
    </div>
</body>
</html>
